doctype html
html
     head
          title EMAIL CERBERUS
     body
          h1 Nueva Publicacion creada en: #{ groupName }

          h2 Click en el enlace para verlo

          h3 Publicacion creada por: #{ user }

          a(href="http://christophergerardy.me/group/" + groupId) Ver aqui

          p #{ description }

